body {
    background-color: black;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 0, 0);
}
.hoverDiv {
    font-size: 35px;
    color: rgb(61, 223, 61);
    font-style: italic;
}

textarea {
    height: 300px;
    width: 400px;
    text-align: center;
    margin-top: auto;

}
section {
    display: flex;
    flex-direction: row;
  }
  .dele {
    background-color: white;
    color: black;
  }
  
fieldset {
    border: none;
}
button {
    color: rgb(255, 255, 255);
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
}
button:hover {
    background-color: red;
}