body {
    background-color: black;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 0, 0);
}
.hoverDiv {
    font-size: 40px;
    color: rgb(200, 255, 200);
    font-style: italic;
}

textarea {
    height: 300px;
    width: 400px;
    text-align: center;
    margin-top: auto;

}
fieldset {
    border: none;
}
button {
    color: rgb(255, 255, 255);
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
}
button:hover {
    background-color: red;
}